
body {
    background-color: #efe9d4;
}

.navbar {
    background: #333;
    color: #fff;
}

.navbar-brand {
    height: 70px;
    padding: 0px;
    padding-left: 15px;
}

.clockContainer {
    width: 1200px;
    height: 300px;
    padding: 10px;
}

.clockBox {
    width: 150px;
    height: 50px;
    margin: 10px;
    font-size: 100px;
    color: #a3bbbb;
    display: inline-block;
}

.countryChooserContainer {
}

.countryChooserButton {
    width: 100px;
    height: 20px;
    font-size: 60px;
    //color: #687f5f;
    color: #a3bbbb;
}

.countryChooserSelections {
    margin-top: 80px;
}
